<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>scenarioFile</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${scenarioFile}" class="ch.qos.logback.core.FileAppender">
                <file>logs\\${scenarioFile}</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{36}.%M %L - %msg%n%ex</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{36}.%M %L - %msg%n%ex</pattern>
	    </encoder>
	</appender>
    
    <root level="ALL">
    	<level value="INFO"/>
        <appender-ref ref="SIFT" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>