<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Clara Automation Test Suite">
  <suite-files>
     <suite-file path="ClaraSecurityHandler.xml" />
     <suite-file path="ClaraPatientHandler.xml" />
    <suite-file path="ClaraPrescriptionHandler.xml" />
    <suite-file path="ClaraFacilityHandler.xml" />
    <suite-file path="ClaraNegetiveScenarioHandler.xml" />
    <suite-file path="ClaraMeetClaraHandler.xml" />
    <suite-file path="ClaraScenarioHandler.xml" /> 
  </suite-files> 
</suite>
